.content {
  outline: none;
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}

/*Vertical Navigation*/
.cl-sidebar {
  background: #438eb9;
  position: absolute;
  width: 216px;
  z-index: 2;
}
.cl-sidebar .cl-toggle {
  display: none;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
.cl-sidebar .cl-toggle i {
  font-size: 24px;
  color: #C9D4F6;
}
.cl-vnavigation {
  margin: 0 0 0 0;
  padding: 0;
  border-top: 1px solid #1a1c20;
  border-bottom: 1px solid #2f323a;
}
.cl-vnavigation .parent a {
  background: url("../images/arrow.png") no-repeat scroll right 14px top 18px transparent;
}
.cl-vnavigation li a {
  border-top: 1px solid #32353e;
  border-bottom: 1px solid #1a1c20;
  display: block;
  padding: 14px 18px 13px 15px;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}
.cl-vnavigation li a:hover {
  background-color: #579ec8;
}